<div class="multiselect-search" ng-class="{open: isOpen, focused: isFocused, loading: showLoader}" ng-click="setFocus($event)">
    <ul class="multiselect-search-list">
        <li class="btn btn-default btn-xs multiselect-search-list-item multiselect-search-list-item_selection"
            ng-repeat="item in output track by $index"
            ng-class="{focused: backspaceFocus && $last}"
            ng-click="removeItem($index)"
            ng-bind-html="getSearchLabel(item)"></li>
        <li class="multiselect-search-list-item multiselect-search-list-item_input"><input autocomplete="off"
                                                                                           ng-model="query"
                                                                                           ng-style="{'width': inputWidth + 'px'}"
                                                                                           ng-keydown="keyParser($event)"
                                                                                           ng-focus="setFocus($event)"/></li>
        <li class="multiselect-search-list-item multiselect-search-list-item_loader" ng-show="showLoader"></li>
    </ul>
</div>
<div class="multiselect-dropdown" ng-show="isOpen" ng-click="setFocus($event)">
    <ul ng-if="isOpen" class="multiselect-dropdown-optgroup" ng-repeat="(group, options) in groups">
        <div class="multiselect-dropdown-optgroup-header"
            ng-if="group && options.length"
            ng-bind="group"></div><!-- we use fast getElementsByTagName('li')-->
        <li class="multiselect-dropdown-optgroup-option"
            ng-repeat="option in options"
            ng-class="{'active': selectorPosition === groupPos[group] + $index}"
            ng-click="addItem(option)"
            ng-mouseenter="setSelection(groupPos[group] + $index)"
            ng-bind-html="getDropdownLabel(option)"></li>
    </ul>
</div>